.wrapper {
  width: 100vw;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rightSide {
  height: 100vh;

  img {
    object-position: left;
    height: 100%;
  }
}

.form {
  padding: 0 140px;
  width: 100%;
  max-width: rem(400px);
  margin: 0 auto;

  @media (max-width: mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
}

.wrapperDropzone {
  margin-top: 40px;
  position: relative;
  margin-bottom: rem(30px);
  cursor: pointer;
}

.dropzone {
  padding: 16px;
  border: 1px solid #999;
  border-radius: 20px;
  padding-bottom: rem(30px);
}

.icon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.control {
  position: absolute;
  width: rem(250px);
  left: calc(50% - rem(65px));
  bottom: rem(20px);
}
