.holidaysAddBox {
  padding: 40px 56px;
  margin-bottom: 50px;
  background: white;
  border-radius: var(--radius-xl, 12px);
  border: 1px solid light-dark(var(--mantine-color-white), var(--mantine-color-dark-4));
  background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}

.holidayBox {
  padding: 24px;
  border-radius: var(--radius-xl, 12px);
  border: 1px solid light-dark(var(--mantine-color-white), var(--mantine-color-dark-4));
  background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
